.authContainer {
  // padding: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  place-items: center;
}

.divider {
  margin: 0 50px;
}

.oAuth {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;

  button {
    margin: 10px 0;
  }
}
.title {
  display: flex;
  flex-flow: row nowrap;
  h3 {
    width: 50%;
    text-align: center;
  }
}
