@import "src/_variables.scss";

.formContainer {
  max-width: 500px;
  @include theme() {
    color: t("text");
    background-color: t("link");
  }
}

:global {
  .mantine-TextInput-label {
    background-color: red;
  }
}

.blue {
  width: 100px;
  height: 200px;
  @include theme() {
    background-color: t("link");
  }
}
